
<hr>
<br>


<div>
    <div align="left">
      <a href="http://engineering.nyu.edu/academics/departments/civil" target="_blank">
        <img src="media/tandon_cue_color.png" style="float:left" onerror="this.src='http://drive.google.com/uc?export=view&id=0B2vCK8uO_I7kWFYwbHM3UXVNalk'" width="25%">
      </a>
    </div>
    <div align="right" style="color:gray">
        &copy; 2016 - <a href="http://engineering.nyu.edu/people/magued-g-iskander/" target="_blank">Magued Iskander</a><br />
        Developed by <a href="https://github.com/nickmachairas" target="_blank">Nick Machairas</a>
    </div>
</div>
